@charset "UTF-8";
* {
    margin: 0
}

body {
    background: #ff0054;
    font-family: 'Satoshi', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.1;
}

canvas {
    pointer-events: none;
    position: absolute;
    z-index: -1
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; /* Adjust for smaller screens */
    width: 100%; /* Ensures responsiveness */
    box-sizing: border-box; /* Includes padding and border in width calculation */
}

@media (max-width: 768px) {
    #container {
        max-width: 95%;
        font-size: 0.9em; /* Adjust font size for better readability */
    }
}

@media (max-width: 480px) {
    #container {
        max-width: 100%;
        padding: 10px; /* Add padding for better spacing */
    }
}



#logo {
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 56px;
    transition: filter 1s cubic-bezier(.075, .82, .165, 1);
    width: 300px
}

#topText {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-decoration: none;
    color: #fff;
}

#links>a {
    font-family: 'MBA Slice Mono', sans-serif;
    color: #fff;
    display: table;
    font-weight: 500;
    text-decoration: none;
}